<div class="page-header page-heading">
  <h1 class="pull-left">Plymouth Portal</h1>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<br />
<div ng-show="acc" class="row">
	<div class="col-md-4">
		<h4>Welcome {{acc.Name}}</h4>
		<span>How are things at <br />
			{{acc.BillingAddress.street}} <br/>
			{{acc.BillingAddress.city}}, {{acc.BillingAddress.state}} {{acc.BillingAddress.postalCode}}?
		</span>
		<h4 ng-if="acc.totalBal > 0">I hate to break it to you,<br/> but you owe us {{acc.totalBal | currency}}.</h4>
		<h4 ng-if="acc.totalBal == 0">Great news, you don't owe us anything.</h4>
	</div>
	<div class="col-md-8">
    <table class="table table-striped">
        <thead>
	        <tr>
	          <th>Name</th>
	          <th>Balance</th>
	          <th>Acc Number</th>
	          <th>Utility</th>
          </tr>
        </thead>
      <tbody>
        <tr ng-repeat="ua in uas">
          <td><a ng-href="/#/ua/{{ua.Id}}"><span class="glyphicon glyphicon-circle-arrow-right"></span> {{ua.Name}}</a></td>
          <td>{{ua.Utility_Account_Outstanding_Balance__c | currency}}</td>
          <td>{{ua.Utility_Account_Number__c}}</td>
          <td>{{ua.LDC__r.Name}} 
          	<span ng-if="ua.Commodity__r.Name == 'Electricity'" class="glyphicon glyphicon-flash"></span>
          	<span ng-if="ua.Commodity__r.Name == 'Gas'" class="glyphicon glyphicon-fire"></span>
      	  </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>