<div class="page-header page-heading">
  <h1 class="pull-left">Node Force</h1>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<br />
<div class="row">
	<div class="col-md-4">
		<label>Enter your Utility Account Number</label>
		<input type="text" ng-model="uaNum" class="form-control" />
		<br />
		<button ng-click="getUtilityAccount()" class="btn btn-default">Get My Account!</button>
	</div>
</div>
<br/>
<div ng-show="ua" class="row">
	<div class="col-md-4">
		<span>Welcome {{ua.Name}}</span>
		<h3>Your balance is {{ua.Utility_Account_Outstanding_Balance__c | currency}}
	</div>
</div>



<br/>
<button ng-hide="true" ng-click="getAccounts()" class="btn btn-default"></button>
<ul ng-hide="true">
  <li ng-repeat="acc in accounts">{{acc.Name}}</li>
</ul>
