<div class="page-header page-heading">
  <h1 class="pull-left">Plymouth Portal</h1>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<br />
<div class="row">
	<div class="col-md-4">
		<label>Enter your Account Id</label>
		<input type="text" ng-model="accId" class="form-control" />
		<br />
		<button ng-click="getAccount()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Get My Account!</button>
	</div>
</div>



<br/>
<button ng-hide="true" ng-click="getAccounts()" class="btn btn-default"></button>
<ul ng-hide="true">
  <li ng-repeat="ac in accounts">{{ac.Name}}</li>
</ul>
