<div class="page-header page-heading">
  <h1 class="pull-left"><a ng-href="/#/acc/{{actualUA.Account_Name__c}}">{{actualUA.Account_Name__r.Name}}</a></h1>
  <div class="clearfix"></div>
</div>
<div ng-show="message" class="alert alert-{{message.class}} alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message.title}}</strong> {{message.message}}
</div>
<br />
<div ng-show="actualUA" class="row">
	<div class="col-md-4">
		<h4>Welcome {{actualUA.Name}}</h4>
		<h4>
			{{actualUA.LDC__r.Name}} 
			<span ng-if="actualUA.Commodity__r.Name == 'Electricity'" class="glyphicon glyphicon-flash"></span>
          	<span ng-if="actualUA.Commodity__r.Name == 'Gas'" class="glyphicon glyphicon-fire"></span>
          	#{{actualUA.Utility_Account_Number__c}}
		</h4>
		  <form ng-show="editing">
		    <label>Street:</label>
		    <input type="text" class="form-control" ng-model="actualUA.Mailing_Address_Street__c" placeholder="{{actualUA.Mailing_Address_Street__c || ''}}" ng-required/>
		    <label>City:</label>
		    <input type="text" class="form-control" ng-model="actualUA.Mailing_Address_City__c" placeholder="{{actualUA.Mailing_Address_City__c || ''}}" ng-required/>
		    <label>State:</label>
		    <input type="text" class="form-control" ng-model="actualUA.Mailing_Address_State__c" placeholder="{{actualUA.Mailing_Address_State__c || ''}}" ng-required/>
		    <label>Zip:</label>
		    <input type="text" class="form-control" ng-model="actualUA.Mailing_Address_Postal_Code__c" placeholder="{{actualUA.Mailing_Address_Postal_Code__c || ''}}" ng-required/>
		    <br/>
		    <button class="btn btn-primary" ng-click="saveUtilityAccount()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
		    <button class="btn btn-default" ng-click="editing = false"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
		 </form>
		<span ng-hide="editing"> 
			We have your Mailing Address as :<br />
			{{actualUA.Mailing_Address_Street__c}} <br/>
			{{actualUA.Mailing_Address_City__c}}, {{actualUA.Mailing_Address_State__c}} {{actualUA.Mailing_Address_Postal_Code__c}}<br/>
			<button class="btn btn-default" ng-click="editing = true"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
		</span>
		<br />
		<br />
		<button ng-click="getInvoices()" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> View Invoices</button>
	</div>
	<div ng-show="invoices" class="col-md-8">
    <table class="table table-striped">
        <thead>
	        <tr>
	          <th>Name</th>
	          <th>Status</th>
	          <th>Date <span class="glyphicon glyphicon-chevron-down"></span></th>
	          <th>Total</th>
	          <th>Paid</th>
          </tr>
        </thead>
      <tbody>
        <tr ng-repeat="inv in invoices | orderBy: 'c2g__InvoiceDate__c': true">
          <td><a ng-href="">{{inv.Name}}</a></td>
          <td>{{inv.c2g__InvoiceStatus__c}}</td>
          <td>{{inv.c2g__InvoiceDate__c | date}}</td>
          <td>{{inv.c2g__InvoiceTotal__c | currency}}</td>
          <td>
          	<span ng-if="inv.c2g__PaymentStatus__c == 'Paid'" class="glyphicon glyphicon-ok-circle"></span>
          	<span ng-if="inv.c2g__PaymentStatus__c != 'Paid'" class="glyphicon glyphicon-remove-circle"></span>
      	  </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

