<div class="page-header page-heading">
  <h1 class="pull-left">{{opp.Name}}</h1>
  <div class="clearfix"></div>
</div>
<div ng-show="error" class="alert alert-warning alert-dismissible row" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Sorry</strong> {{error.message}}
</div>
<div class="row">
	<div class="col-md-4">
		<div>Record Type : {{opp.Record_Type_Name__c}}</div>		
	</div>
  	<div class="col-md-4">
		<div>{{IQs.length}} Intake Queue(s)</div>	
	</div>
	<div class="col-md-4">
		<div>{{Tenors.length}} Tenor(s)</div>		
	</div>
</div>
<br />
<div class="row">
	<table class="table">
	  <thead>
	  	<tr>
	  		<th>Name</th>
	  		<th>Error Criteria</th>
	  		<th></th>
	  	</tr>
	  </thead>
	  <tr ng-repeat="err in errorCriteria" ng-class="{success: !err.criteriaMet, danger: err.criteriaMet}">
	    <td>{{err.name}}</td>
	    <td>{{err.criteria}}</td>
	    <td><span ng-class="{'glyphicon glyphicon-ok': !err.criteriaMet, 'glyphicon glyphicon-remove': err.criteriaMet}"></span></td>
	  </tr>
	</table>
</div>

